<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>친구목록</title>
    <link rel="stylesheet" href="/css/friends.css" />
    <%- include('../header')%>
  </head>
  <body>
    <div>
      <div class="friendsList">
        <p><%= lord.nickname%>님의 친구 목록</p>
      </div>
    </div>
    <div class="container" style="border: 3px solid black">
      <div class="row">
        <% friendData.forEach(profile => { %> <% if (profile.profileLocation ===
        null) { %>
        <div class="col-md-4 col-6">
          <div>
            <a href="/letter/myLetter/<%= profile.id %>"
              ><img
                src="/img/추석3.png"
                alt=""
                style="width: 100%; height: 100%"
            /></a>
          </div>
          <p class="nicknames"><%= profile.userId %></p>
         
        </div>
        <% } else { %>
        <div class="col-md-4 col-6">
          <div>
            <a href="/letter/myLetter/<%= profile.id %>"
              ><img
                src="<%= profile.profileLocation %>"
                alt=""
                style="width: 100%; height: 100%"
            /></a>
          </div>
          <p class="nicknames"><%= profile.userId %></p>
          <!-- 내 편지함일 때만 버튼 추가하기 -->
          <%if(isMine) { %>
          <button type="button" class="btnDelete">
            삭제
          </button>
          <% } %>
        </div>
        <% } %> <% }); %>

  </body>
</html>