<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내 편지함</title>
    <%- include('../header')%>
    <link rel="stylesheet" href="/css/myletter.css" />
    
  </head>
  <style>
      #lordid {
            display: none;
        }
  </style>
  <body>
    <div class="row">
      <div class="titleDiv col-md-2">
        
        <h1><span><%= lord.nickname %></span>님의<br />편지함</h1>

      </div>
      <input type="text" value="<%=lord.id%>" id="personId" style="display: none">
      <div class="letterDiv col-md-8">
        <div class="imgDiv">
          <input type="hidden" value="<%=postNo1%>" id="postNo3">
          <img src="/img/background/moon.png" alt="" id="moon" />
          <!-- 편지 : 페이징 시 nickname.length로 바꾸기 -->
          <% for (let i=0; i< nickname.length; i++ ){ %>
          <div
            class="letters"
            id="letter<%= i+1 %>"
            data-bs-toggle="modal"
            data-bs-target="#letterModal"

            onclick="showPost('<%= id %>','<%= i%>')"
    
          >
          
            <img src="<%=postDesign[i]%>" alt="" class="letterImg" id="letterImg<%=i%>" />
            <p class="letterP" id="letterP<%=i%> letterNickname"><%=nickname[i]%></p>
            <input type="hidden" value="<%= postNo[i]%>" id="postNo<%= i %>">
            <input type="hidden" value="0" id="postNo5">
          </div>
          <% } %>

          <!-- 편지 모달 -->
   
          <div
            class="modal fade"
            id="letterModal"
            tabindex="-1"
            aria-labelledby="letterModalLabel"
            aria-hidden="true"
            
          >
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="letterModalLabel">
                  ✉️송편지
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label"
                      >작성자</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="recipient-name"
                      readonly
                    />
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label"
                      >편지 내용</label
                    >
                    <textarea class="form-control" id="message-text" readonly></textarea>
                  </div>
                </form>
              </div>

              <div class="modal-footer">

                
            

                  
                <button type="button" class="btn btnLike">
                  <input type="hidden" value="<%= id%>" id="heart">

                  <% if (!isLogin) { %>
                    <!-- 비로그인시 빈하트  -->
                    <img src="/img/header/heart1.png" alt="" id="likeHeart" />
                    <%}else{%>
                    <img src="" alt="" id="likeHeart" />
                    <%}%>
                  <div class="likesNum">
                  
                  </div>
                </button>

                <button
                  type="button"
                  class="btn btnClose"
                  data-bs-dismiss="modal"
                >
                  닫기
                </button> 
              </div>
            </div>
          </div>
          </div>
        <!-- 편지 모달 끝-->

          <!-- 삭제 비밀번호 모달 -->
          <div
              class="modal fade"
              id="deleteModal"
              tabindex="-1"
              aria-labelledby="letterModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="letterModalLabel">
                    비밀번호
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      
                      <input
                        type="text"
                        class="form-control pw"
                        id="recipient-name"
                      />
                    </div>
                    
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btnComplete"
                    data-bs-dismiss="modal"
                    onclick="postDelete()"
                  >
                    확인
                  </button> 
                </div>
              </div>
            </div>
          </div>

      <div class="btnDiv">
        <button id="btnLeft" onclick="prevPage()">
          <img src="/img/header/left.png" alt="" />
        </button>
        <button id="btnRight" onclick="nextPage()">
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
      </div>
      </div>

      <div class="menuDiv col-md-2">
        <!-- 1. 로그인 했고 내 페이지일 때 -->
        <% if (isMine && isLogin) { %>
        <div class="myPageDiv">
          <a href="/user/myPage">
            <%if (profile.profileLocation !== 'null'){%>
              <button id="btnMypage">
                <img src="<%= profile.profileLocation%>" alt="" id="imgMypage" />
              </button>
              <p>마이페이지</p>
              <%}else{%>
                <button id="btnMypage">
                  <img src="/img/header/prf.jpg" alt="" id="imgProfilePic" />
                </button>
              <%}%>
          

          </a>
        </div>

        <div class="friendConfirmDiv">
          <a href="/letter/friendConfirm">
            <button id="btnFriendConfirm" >
              <img src="/img/header/ring.png" alt="" id="imgFriendConfirm" />
            </button>
            <p>친구 신청</p>
          </a>
      </div>


        <div class="friendsDiv">
        <a href="/letter/friends/<%=lord.id%>">
            <button id="btnFriends">
              <img src="/img/header/friends.png" alt="" id="imgFriends" />
            </button>
              <p>친구 목록</p>
          </a>
        </div>
        <% } %>

        <!-- 2. 로그인 했고 남의 페이지일 때 -->
        
        <% if(isLogin && !isMine ) { %>
        <div class="profilePicDiv">
          <button id="btnProfilePic" disabled>
            <%if (profile.profileLocation !== 'null'){%>
              <img src="<%= profile.profileLocation%>" alt="" id="imgMypage" />
              <%}else{%>
                <img src="/img/header/prf.jpg" alt="" id="imgProfilePic" />
              <%}%>
          </button>
        </div>

        <div class="friendsDiv">
          <a href="/letter/friends/<%=lord.id%>">
            <button id="btnFriends" >
              <img src="/img/header/friends.png" alt="" id="imgFriends"  />
            </button>
              <p>친구 목록</p>
        </div>

        <div class="addFriendDiv">
            <button id="btnAddFriend" onclick="addFriend()">
              <%if( checkFriend ||  checkRequest){%>
              <img src="/img/header/check.png" alt="" id="imgAddFriend" />
              <%}else{%>
                <img src="/img/header/add.png" alt="" id="imgAddFriend" />
              <%}%>
            </button>
            <input type="text" id="lordid" value="<%= lord.id%>">
          <p>친구 신청</p>
        </div>

        <div class="writeLetterDiv">

          <a href="/letter/select/<%=lord.id%>"> 
            <button id="btnWriteLetter">
              <img src="/img/header/pen.png" alt="" id="imgWriteLetter" />
            </button>
            <p>편지 쓰기</p>
          </a>
        </div>
        <%}%>
      
        <!-- 3. 로그인 안 했고 남의 페이지일 때 -->
        <% if (!isLogin && !isMine) { %>
          <div class="profilePicDiv">
            <button id="btnProfilePic" disabled>
              <%if (profile.profileLocation !== 'null'){%>
                <img src="<%= profile.profileLocation%>" alt="" id="imgMypage" />
                
                <%}else{%>
                  <img src="/img/header/prf.jpg" alt="" id="imgProfilePic" />
                <%}%>
            </button>
            <!-- <p id="nickname">해순</p> -->
          </div>
    
          <div class="writeLetterDiv">

            <a href="/letter/select/<%=lord.id%>"> 

              <button id="btnWriteLetter">
                <img src="/img/header/pen.png" alt="" id="imgWriteLetter" />
              </button>
              <p>편지 쓰기</p>
            </a>
          </div>
    
          
        <% } %>
        
      </div>
      
    <script src="/js/letter/myletter.js"></script>
  </body>
</html>