<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%- include('./header')%>

    <div class="container-fluid background">
      <div class="cmtDiv">
        <h1>프로젝트 제목</h1>
        <h3>멘트</h3>
      </div>

      <!-- 2번 START-->
      <!-- <div class="row">
        <div class="col-2"></div>
          <div class="col-4">
              <img src="../public/img/background/STAR.png" alt="" id="img" />
              <p>닉네임</p>
          </div>
          <div class="col-3">
            <img src="../public/img/background/STAR.png" alt="" id="img" />
            <p>닉네임</p>
          </div>
            <div class="col-3">
              <img src="../public/img/background/STAR.png" alt="" id="img" />
              <p>닉네임</p>
            </div>
      </div>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
        <div class="col-3">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
        <div class="col-5">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
      </div>
      <div class="row" >
        <div class="col-2"></div>
        <div class="col-4">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
        <div class="col-4">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
        <div class="col-2">
          <img src="../public/img/background/STAR.png" alt="" id="img" />
          <p>닉네임</p>
        </div>
      </div> -->
      <!-- 2번 END-->

      <!-- starDiv START -->
      <!-- a 링크 추가, 닉네임 data 추가 -->
      <div class="starDiv">
        <% for (let i=1; i<=9; i++ ) { %> <% if(i%3==0) { %>
        <a href="#">
          <div class="star star<%=i%> row">
            <!-- <img src="../public/img/background/px_star.png" alt="" id="img" /> -->
            <img
              src="../public/img/background/kbStar.png"
              alt=""
              id="kbStar<%=i%>"
            />
            <p>닉네임</p>
          </div>
        </a>
        <%} else {%>
        <a href="#">
          <div class="star star<%=i%> row">
            <img
              src="../public/img/background/px_star.png"
              alt=""
              id="star<%=i%>"
            />
            <p>닉네임</p>
          </div>
        </a>
        <%}}%>
      </div>
      <!-- starDiv END -->

      <!-- btnDiv START -->
      <div class="btnDiv">
        <button id="btnleft">
          <img src="/img/px_headers/px_left.png" alt="" />
        </button>
        <button id="btnResister">회원가입</button>
        <button id="btnLogin">로그인</button>
        <button id="btnRight">
          <img src="/img/px_headers/px_right.png" alt="" />
        </button>
      </div>
    </div>
    <img src="/img/letterIcons/px_stStar.png" alt="" id="stStar" />

    <!-- btnDiv END -->
    <script src="/js/index.js"></script>
  </body>
</html>
