<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>송편지</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('./header') %>
    <div class="container-fluid background">
      <!-- 메인 화면 -->
      <div class="cmtDiv">
        <h1>송편지</h1>
        <h4 id="cmt">멘트</h4>
      </div>

      <!-- starDiv START -->
      <!-- 한 페이지당 별 7개 배치 예정 -->
      <div class="starDiv">
        <% for (let i=0; i < data.length; i++ ) { %>
        <a href="/letter/MyLetter/<%= data[i].id%>" target="_self" class="a">
          <div
            class="star star<%=i+1%>"
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="송편지별을 둘러보세요"
          >
            <% if ( i%3==0 ) {%>
            <img src="../img/background/kbStar.png" alt="" id="star<%=i+1%>" />
            <% } else { %>
            <img src="../img/background/px_star.png" alt="" id="star<%=i+1%>" />
            <% } %>
            <p id="p<%=i+1%>" class="pname"><%=data[i].nickname%></p>
          </div>
        </a>
        <% } %>
      </div>

      <!-- btnDiv START -->
      <div class="btnDiv">
        <button
          id="btnLeft"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="이전 송편지별 보기"
        >
          <img src="/img/header/left.png" alt="" />
        </button>
        <%if(typeof session === 'undefined'){%>
        <button
          id="btnResister"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="회원이 되어 송편지와 함께하세요"
        >
          <span>회원가입</span>
        </button>
        <button
          id="btnLogin"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="내 송편지를 보러 갈까요?"
        >
          <span>로그인</span>
        </button>
        <button id="btnLogout" style="display: none">
          <span>로그아웃</span>
        </button>
        <% } %> <% if(typeof session !== 'undefined') { %>
        <button id="btnResister" style="display: none">
          <span>회원가입</span>
        </button>
        <button id="btnLogin" style="display: none"><span>로그인</span></button>
        <button id="btnLogout" style="display: none">
          <span>로그아웃</span>
        </button>
        <input
          type="text"
          placeholder="닉네임 검색"
          name="searched"
          id="searched"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="송편지를 보내고 싶은 사람을 찾아보세요"
        />
        <button
          type="button"
          id="searchBtn"
          onclick="realSearch()"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="송편지를 보내고 싶은 사람을 찾아보세요"
        >
          검색
        </button>
        <%}%>
        <button
          id="btnRight"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="다음 송편지별 보기"
        >
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
    </div>
    <img src="/img/letterIcons/px_stStar.png" alt="" id="stStar" />

    <!-- script-->
    <script src="/js/index.js"></script>
  </body>
</html>
