<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>송편지</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('./header') %>
    <div class="container-fluid background">
      <!-- 로딩 화면-->
      <div class="loading"></div>

      <!-- 메인 화면 -->
      <div class="cmtDiv">
        <h1>송편지</h1>
        <h4 id="cmt">멘트</h4>
      </div>

      <!-- starDiv START -->
      <!-- 한 페이지당 별 7개 배치 예정 -->
      <div class="starDiv">
        <% for (let i=0; i < data.length; i++ ) { %>
        <!-- <a href="/letter/MyLetter/<%= data[i].id%>" target="_self"> -->
        <a
          href="/letter/MyLetter/?curPage=<%= curPage %>&id=<%= data[i].id %>"
          target="_self"
        >
          <div class="star star<%=i+1%>">
            <% if ( i%3==0 ) {%>
            <img src="../img/background/kbStar.png" alt="" id="star<%=i+1%>" />
            <% } else { %>
            <img src="../img/background/px_star.png" alt="" id="star<%=i+1%>" />
            <% } %>
            <p id="p<%=i+1%>"><%=data[i].nickname%></p>
          </div>
        </a>
        <% } %>
      </div>

      <!-- btnDiv START -->
      <div class="btnDiv">
        <button id="btnLeft">
          <img src="/img/header/left.png" alt="" />
        </button>
        <%if(typeof session === 'undefined'){%>
        <button id="btnResister">
          <span>회원가입</span>
        </button>
        <button id="btnLogin"><span>로그인</span></button>
        <button id="btnLogout" style="display: none">
          <span>로그아웃</span>
        </button>
        <% } %> <% if(typeof session !== 'undefined') { %>
        <button id="btnResister" style="display: none">
          <span>회원가입</span>
        </button>
        <button id="btnLogin" style="display: none"><span>로그인</span></button>
        <button id="btnLogout"><span>로그아웃</span></button>
        <%}%>
        <button id="btnRight">
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
    </div>
    <img src="/img/letterIcons/px_stStar.png" alt="" id="stStar" />

    <!-- btnDiv END -->
    <script src="/js/index.js"></script>

    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.155.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.155.0/examples/jsm/"
        }
      }
    </script>
    <script type="module" src="js/loading.js"></script>
  </body>
</html>
