<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('./header') %>

    <div class="container-fluid background">
      <div class="cmtDiv">
        <h1>송편지</h1>
        <h3>멘트</h3>
      </div>

      <!-- starDiv START -->
      <!-- 데이터 끊어서 별 배치하기: 전체/배치 별 개수 ceil 해서 for문에 추가 -->
      <!-- a 링크 추가, 닉네임 data 추가 -->
      <!-- 다음 버튼 클릭시 a href 속성, p innertext i+9(배치 별 개수) 하면 되려나 
      <p> || data[i].nickname  ||</p> -->

      <!-- 한 페이지당 별 9개 배치 예정 -->
      <!-- 총 회원 수가 7의 배수일 때 (화면에 가득 찰 때) -->
      <div class="starDiv">
        <% if(data.length %7 ==0) { %> <% for (let i=0; i<= 6; i++ ) { %>
        <a href="/user/letter/<%=data[i].id%>">
          <div class="star star<%=i+1%>">
            <!-- 3의 배수인 별은 일반 이미지 -->
            <% if ( i%3==0 ) {%>
            <img src="../img/background/kbStar.png" alt="" id="star<%=i+1%>" />
            <% }else{ %>
            <img src="../img/background/px_star.png" alt="" id="star<%=i+1%>" />
            <% } %>
            <p id="p<%=i+1%>"><%=data[i].nickname%></p>
          </div>
        </a>
        <% } } %>

        <!-- 총 회원 수가 9의 배수가 아닐 때 (화면에 일부만 찰 때) -->
        <% if(data.length %7 !=0) { %> <% for (let i=0; i<=6; i++ ) { %>
        <a href="/user/Myletter/<%=data[i].id%>">
          <div class="star star<%=i+1%>">
            <% if ( i%3==0 ) {%>
            <img src="../img/background/kbStar.png" alt="" id="star<%=i+1%>" />
            <% }else{ %>
            <img src="../img/background/px_star.png" alt="" id="star<%=i+1%>" />
            <% } %>
            <p id="p<%=i+1%>"><%=data[i].nickname%></p>
          </div>

        </a>
        <% } }%>
      </div>

      <!-- btnDiv START -->
      <div class="btnDiv">
        <button id="btnLeft">
          <img src="/img/header/left.png" alt="" />
        </button>
        <button id="btnResister">회원가입</button>
        <button id="btnLogin">로그인</button>
        <button id="btnRight">
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
    </div>
    <img src="/img/letterIcons/px_stStar.png" alt="" id="stStar" />

    <!-- btnDiv END -->
    <script src="/js/index.js"></script>
  </body>
</html>
