<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <%- include('./header') %>

    <div class="container-fluid background">
      <div class="cmtDiv">
        <h1>송편지</h1>
        <h3>멘트</h3>
      </div>

      <!-- starDiv START -->
      <!-- 데이터 끊어서 별 배치하기: 전체/배치 별 개수 ceil 해서 for문에 추가 -->
      <!-- a 링크 추가, 닉네임 data 추가 -->
      <!-- 다음 버튼 클릭시 a href 속성, p innertext i+9(배치 별 개수) 하면 되려나 -->
      <!-- <a href="data[i].id" || ></a>
      <p> || data[i].nickname  ||</p> -->

      <div class="starDiv col">
        <div class="starOne row-5" style="background-color: aliceblue">
          <% for (let i=0; i< 5; i) { %>
          <div class="starImgDivOne">
            <img src="/img/background/kbStar.png" alt="" />
          </div>
          <% } %>
        </div>

        <div class="starTwo row-5" style="background-color: palegoldenrod">
          <% for (let i=0; i< 4; i) { %>
          <div class="starImgDivTwo">
            <img src="/img/background/px_star.png" alt="" />
          </div>
          <!-- </a> -->
          <% } %>
        </div>

        <!-- <% for (let i=0; i< data.length%9; i++ ) { %>
        <a href="/user/letter/<%=data[i].id%>">
          <div class="star star<%=i%>">
            <img src="../img/background/kbStar.png" alt="" id="kbStar<%=i%>" />
            <p><%=data[i].nickname%></p>
          </div>
        </a> -->
        <!-- <a href="#">
          <div class="star star<%=i%> row">
            <img src="../img/background/px_star.png" alt="" id="star<%=i%>" />
            <p><%=data[i]%></p>
          </div>
        </a> -->
        <!-- <%}%> -->
      </div>
      <!-- starDiv END -->

      <!-- btnDiv START -->
      <div class="btnDiv">
        <button id="btnleft">
          <img src="/img/header/left.png" alt="" />
        </button>
        <button id="btnResister">회원가입</button>
        <button id="btnLogin">로그인</button>
        <button id="btnRight">
          <img src="/img/header/right.png" alt="" />
        </button>
      </div>
    </div>
    <img src="/img/letterIcons/px_stStar.png" alt="" id="stStar" />

    <!-- btnDiv END -->
    <script src="/js/index.js"></script>
  </body>
</html>
