<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/myPage.css" />
    <script defer src="/js/user/myPage.js"></script>
    <script defer src="/js/user/notification.js"></script>
    <%- include('../header')%>
  </head>
  <body>
    <% if (!isProfile) { %>
    <script>
      alert('<%= message %>');
      document.location.href = '/user/login';
    </script>
    <% }else{ %>
    <script>
      const nickname = `<%= data.nickname%>`;
      const id = `<%= data.userId%>`;
    </script>
    <% } %>
    <div>
      <div id="retroBox1"><span id="userId"><%= data.userId%></span></div>
      <div id="retroBox2">
        <!--  -->
        <div id="profile1">
          <div id="profile2">
            <!-- 프로필 사진  -->
            <button
              title="프로필 사진 바꾸기"
              id="profileBtn"
              style="
                cursor: pointer;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                padding: 0px;
              "
            >
              <input
                type="file"
                name="fileInput"
                id="fileInput"
                style="display: none"
              />
              <% if(profile.profileLocation === 'null'){%>
              <img
                src="/img/추석2.png"
                alt="프로필 사진 "
                id="profileImage"
                width="100%"
                height="100%"
                style="border-radius: 50%"
              />
              <%}%> <% if(profile.profileLocation !== 'null'){%>
              <img
                src="<%= profile.profileLocation%>"
                alt="프로필 사진 "
                id="profileImage"
                width="100%"
                height="100%"
                style="border-radius: 50%"
              />
              <%}%>
            </button>
          </div>
        </div>

        <!--  -->
        <div id="friends">
          <div>
            <p class="friendsBox1 mailBox" style="cursor: pointer">
              <a href="/letter/myLetter/<%=data.id%>"><%= postCount%></a>
            </p>
            <p>편지함</p>
          </div>
          <div>
            <p class="friendsBox1 friendList" style="cursor: pointer">
              <a href="/letter/friends/<%=data.id%>"><%= friend%></a>
            </p>
            <p>친구목록</p>
          </div>
          <div>
            <p
              class="friendsBox1 notification"
              style="cursor: pointer"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              onclick="notiModal('<%=data.id%>')"
            >
              <%= noti %>
            </p>
            <p>알림</p>
          </div>
        </div>
        <!--  -->
      </div>
      <div id="retroBox3">
        <p id="userId"><%= data.userId%></p>
        <p id="email"><%= data.email%></p>
        <p id="nickname"><%=data.nickname%></p>
      </div>
      <!--  -->
      <div id="retroBox4">
        <div id="profileUpdates">프로필 수정</div>
      </div>
      <!--  -->
      <div id="retroBox5">
        <form name="updateForm" style="padding-top: 3vh">
          <input type="hidden" name="id" value="" />
          <div style="text-align: center">
            <label for="userIdBox">아이디 </label>
            <input
              type="text"
              name="userId"
              id="userIdBox"
              value="<%= data.userId%>"
              style="font-size: 25px; margin-left: 15px"
              readonly
            />
          </div>
          <div style="text-align: center">
            <label for="passwordBox">패스워드 </label>
            <input
              type="password"
              name="password"
              id="passwordBox"
              style="font-size: 25px"
              placeholder="패스워드 (영문 대소문자/숫자조합, 2자~15자)"
              onkeydown="isPwValidity()"
            />
            <div id="pwCheck1"></div>
          </div>
          <div style="text-align: center">
            <label for="nicknamBox">닉네임 </label>
            <input
              type="text"
              name="nickname"
              id="nicknamBox"
              style="font-size: 25px; margin-left: 15px"
              placeholder="<%= data.nickname%>"
            />
          </div>
          <div style="text-align: center">
            <button
              type="button"
              onclick="userUpdate()"
              style="margin-top: 2vh"
            >
              수정
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- modal -->
    <!-- 모달 -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              <%=data.nickname%>님의 알림
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form name="alarmForm">
              <div class="container-fluid">
                <div class="contentBox1">
                  <%if(postNoti.length !== 0) {%> <%for (let i=1; i<=
                  postNoti.length; i++ ){ %>
                  <div
                    id="post<%= postNoti[i-1]%>"
                    onclick="goPost('<%= postNoti[i-1]%>')"
                    style="cursor: pointer"
                  >
                    [<%= sender[i-1]%>] 님이 편지를 남겼어요.
                  </div>
                  <%}%><%}%> <%if(postLikes.length !== 0) {%> <%for (let i=1;
                  i<= postLikes.length; i++ ){ %>
                  <div
                    id="likes<%= postLikes[i-1]%>"
                    onclick="goLikes('<%= postLikes[i-1]%>')"
                    style="cursor: pointer"
                  >
                    [<%= likesWho[i-1]%>] 님이 좋아요를 눌렀어요.
                  </div>
                  <%}%><%}%>
                  <input type="hidden" value="<%= data.id %>" id="ID" />
                </div>
                <div class="noAlarm">알람이 없어요.</div>
                <div class="contentBox2">
                  <div onclick="goFriendReq('<%= data.id%>')">
                    친구요청이 있습니다
                  </div>
                </div>
              </div>
              <button
                type="button"
                id="alarmBtn"
                onclick="alarmDel('<%= data.id%>')"
              >
                알람 삭제
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
