<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <%- include('../header')%>
    <link rel="stylesheet" href="/css/notice.css" />
  </head>
  <body>
    <!-- 공지사항 메인 페이지 -->
    <div class="container-fluid topMain">
      <div style="text-align: center; margin-top: 10px">
        <h1 id="noticeHeader">공지사항</h1>
      </div>
      <% for(let i=0; i<data.length; i++) { %>
      <div class="container" style="margin-top: 15px">
        <form name="resultForm">
          <div class="notice-container">
            <div class="notice-no" name="noticeNo" value="<%= data[i].noticeNo %>"><%= data[i].noticeNo %></div>
            <div class="notice-title"><%= data[i].noticeHeader %></div>
            <div class="notice-time">2023-09-27</div>
            <div class="notice-content"><%= data[i].noticeContent %></div>
            <div class="notice-author">송편지 드림</div>
            <div class="notice-update">
              
              <% if(typeof adminData && adminData.adminRole === 1) { %>
              <button><a href="/notice/update/<%= data[i].noticeNo %>">수정</a></button>
              <button style="background: #e63950">
                <a href="/notice/delete/<%= data[i].noticeNo %>">삭제</a>
              </button>
              <% } %>
            </div>
          </div>
        </form>
      </div>
      <% } %>
      <% if(typeof adminData && adminData.adminRole === 1) { %>
      <div id="post">
        <button><a href="/notice/post">글쓰기</a></button>
      </div>
      <% } %>
    </div>
  </body>
</html>