<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../header')%>
    <form name="deleteForm">
      <input type="hidden" name="noticeNo" value="<%=data.noticeNo%>" />
      <%=data.noticeNo%><br />
      <%=data.noticeHeader%><br />
      <%=data.noticeContent%><br />
      <button><a href="/noticeUpdate/<%=data.noticeNo%>">업데이트</a></button>
      <button type="button" onclick="noticeDelete()">삭제</button>
    </form>
  </body>
  <script>
    function noticeDelete() {
      const form = document.forms['deleteForm'];
      data = {
        noticeNo: form.noticeNo.value,
      };
      if (confirm('정말로 삭제하시겠습니까?') === true) {
        axios({
          method: 'delete',
          url: '/noticeDelete',
          data: data,
        })
          .then((res) => {
            console.log(res);
            alert('삭제되셨습니다');
            location.href = '/notice';
          })
          .catch((err) => {
            console.error(err);
          });
      }
    }
  </script>
</html>
